extends layout

block content
	#container
		p #{req}
		p #{res}
		h3 To-Do List
			i.fa.fa-plus
		input(type="text", placeholder="Add New Todo")

	script.
				var req = new XMLHttpRequest();
				req.open('GET', document.location, false);
				req.send(null);
				var headers = res.getAllResponseHeaders().toLowerCase();
				alert(headers);